@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Noontree';
  src: url('/fonts/Noontree-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Noontree';
  src: url('/fonts/Noontree-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Noontree';
  src: url('/fonts/Noontree-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Noontree';
  src: url('/fonts/Noontree-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Noontree';
  src: url('/fonts/Noontree-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Noontree';
  src: url('/fonts/Noontree-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Noontree';
  src: url('/fonts/Noontree-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

html, body, #root {
  height: 100%;
}

body {
  font-family: 'Noontree', ui-sans-serif, system-ui, sans-serif;
  font-feature-settings: 'case' 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fafafa;
  color: rgba(2, 6, 12, 0.92);
}
